body {
  margin: 0;
  background: black;
  overflow: hidden;
  font-family: Arial;
  color: white;
}

#ui {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 5;
}

#health {
  width: 200px;
  height: 20px;
  background: red;
  margin-bottom: 10px;
}

#minimap {
  border: 2px solid white;
  margin-top: 10px;
}
